*{
    padding: 0px;
    margin: 0px;
    font-style: "Roboto";
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    box-shadow: 0px 10px 4px rgba(255, 255, 255, 1);
}

.button {
    color: lightblue;
    background-color: white;
    border-color: lightblue;
    padding: 5px;
}

.title-page {
    background-color: lightblue;
    color: white;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 100;
}

.descript {
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.read-more {
    background-color: white;
    border: none;
    padding: 8px;
    border-radius: 6px;
}

.abc {
    flex-wrap: wrap;
}
.cards{
    height: 300px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow:  0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

}